<div class="navigation-bar-container">
    <div class="main-navigation">
        <ul class="navigation-items-container">

            <li class="navigation-item js-nav-button-skincare">
                <h2>
                    <a href="{% url 'all_products' %}"><strong>SKINCARE</strong></a>
                </h2>
            </li>
           

            <li class="navigation-item js-nav-button-brands">
                <h2>
                    <a href="{% url 'brands' %}"><strong>BRANDS</strong></a>
                </h2>
            </li>

            <li class="navigation-item js-nav-button-skin-type">
                <h2>
                    <a href="{% url 'skin_type' %}"><strong>SKIN TYPE</strong></a>
                </h2>
            </li>
    
            <li class="navigation-item js-nav-button-skin-concern">
                <h2 class="navigation-item-only-header">
                    <strong>SKIN CONCERN</strong>
                </h2>
            </li>
        </ul>
    </div>

    <div class="navigation-options-contianer js-nav-button-skincare skincare-container">
        <div class="navigation-options">
            <a href="#">
                <h3><strong>FACE</strong></h3>
            </a>
            <a href=""><strong>Cleanser</strong></a>
            <a href=""><strong>Exfoliator</strong></a>
            <a href=""><strong>Toner</strong>,<strong>Essence</strong>&<strong>Mist</strong></a>
            <a href=""><strong>Serum</strong>&<strong>Ampoule</strong></a>
            <a href=""><strong>Eye Care</strong>&<strong>Lip Care</strong></a>
            <a href=""><strong>Skin Treatment</strong></a>
            <a href=""><strong>Moisturiser</strong></a>
            <a href=""><strong>Sunscreen</strong></a>
            <br>
            <a href="#">
                <h3><strong>BODY</strong></h3> 

            </a>
            <a href=""><strong>Body Cleanser</strong></a>
            <a href=""><strong>Body Moisturiser</strong></a>
            <a href=""><strong>Hand Care</strong></a>
            <a href=""><strong>Foot Care</strong></a>
            <a href=""><strong>Body Cleanser</strong></a>
            <a href=""><strong>Body Moisturiser</strong></a>
            <br>
            <a href="#">
                <h3><strong>HANDS</strong></h3>
            </a>
            
            <a href="#"><strong>Hand Moisturiser</strong></a>
            <br>
            <a href="#">
                <h3><strong>FEET</strong></h3>
            </a>
            <a href=""><strong>Foot Moisturiser</strong></a>
            <br>
        </div>
    </div>
    
    <div class="navigation-options-contianer js-nav-button-brands brands-container">
        <div class="navigation-options">
            <div class="nav-letters-container">
                <a href="{% url 'brands' %}#a">A</a>
                <a href="{% url 'brands' %}#b">B</a>
                <a href="{% url 'brands' %}#c">C</a>
                <a href="{% url 'brands' %}#d">D</a>
                <a href="{% url 'brands' %}#e">E</a>
                <a href="{% url 'brands' %}#f">F</a>
                <a href="{% url 'brands' %}#g">G</a>
                <a href="{% url 'brands' %}#h">H</a>
                <a href="{% url 'brands' %}#i">I</a>
                <a href="{% url 'brands' %}#j">J</a>
                <a href="{% url 'brands' %}#k">K</a>
                <a href="{% url 'brands' %}#l">L</a>
                <a href="{% url 'brands' %}#m">M</a>
                <a href="{% url 'brands' %}#n">N</a>
                <a href="{% url 'brands' %}#o">O</a>
                <a href="{% url 'brands' %}#p">P</a>
                <a href="{% url 'brands' %}#q">Q</a>
                <a href="{% url 'brands' %}#r">R</a>
                <a href="{% url 'brands' %}#s">S</a>
                <a href="{% url 'brands' %}#t">T</a>
                <a href="{% url 'brands' %}#u">U</a>
                <a href="{% url 'brands' %}#v">V</a>
                <a href="{% url 'brands' %}#w">W</a>
                <a href="{% url 'brands' %}#x">X</a>
                <a href="{% url 'brands' %}#y">Y</a>
                <a href="{% url 'brands' %}#z">Z</a>
            </div>

            <div class="featured-brands-heading">
                <h3><strong>FEATURED BRANDS</strong></h3>
            </div>

            <div class="featured-brands-images-container">
                <img height="50" width="100" src="/media/ample_n.webp"  alt="Featured Brands">
                <img height="50" width="100" src="/media/banila_co.webp"  alt="Featured Brands">
                <img height="50" width="100" src="/media/by_wishtrend.webp"  alt="Featured Brands">
                <img height="50" width="100" src="/media/dewytree.webp"  alt="Featured Brands">
                <img height="50" width="100" src="/media/drunk_elephant.jpeg"  alt="Featured Brands">
                <img height="50" width="100" src="/media/purito.jpeg"  alt="Featured Brands">
                <img height="50" width="100" src="/media/primera.jpeg"  alt="Featured Brands">
                <img height="50" width="100" src="/media/paulas_choice.webp"  alt="Featured Brands">
                <img height="50" width="100" src="/media/versed.webp"  alt="Featured Brands">
                <img height="50" width="100" src="/media/make_p_rem.webp"  alt="Featured Brands">
                <img height="50" width="100" src="/media/tosowoong.webp"  alt="Featured Brands">
                <img height="50" width="100" src="/media/sioris.jpg"  alt="Featured Brands">
                <img height="50" width="100" src="/media/cosrx.webp"  alt="Featured Brands">
                <img height="50" width="100" src="/media/deciem.jpeg"  alt="Featured Brands">
                <img height="50" width="100" src="/media/laneige.webp"  alt="Featured Brands">
                <img height="50" width="100" src="/media/farmacy.webp"  alt="Featured Brands">
                <img height="50" width="100" src="/media/facetheory.png"  alt="Featured Brands">
                <img height="50" width="100" src="/media/im_from.webp"  alt="Featured Brands">
            </div>
        </div>
    </div>

    <div class="navigation-options-contianer  js-nav-button-skin-type skin-type-container">
        <div class="navigation-options">
            <a href="{% url 'skin_type' %}"><strong>Normal</strong></a>
            <a href="{% url 'skin_type' %}"><strong>Dry</strong></a>
            <a href="{% url 'skin_type' %}"><strong>Combination</strong></a>
            <a href="{% url 'skin_type' %}"><strong>Oily</strong></a>
            <a href="{% url 'skin_type' %}"><strong>Sensitive</strong></a>
        </div>
    </div>
    
    <div class="navigation-options-contianer js-nav-button-skin-concern skin-concern-container">
        <div class="navigation-options">
            <a href="{% url 'skin_concern' %}"><strong>Acne</strong></a>
            <a href="{% url 'skin_concern' %}"><strong>Pigmentation</strong></a>
            <a href="{% url 'skin_concern' %}"><strong>Anti-aging / Wrinkles</strong></a>
            <a href="{% url 'skin_concern' %}"><strong>Uneven Skin Tone</strong></a>
            <a href="{% url 'skin_concern' %}"><strong>Textured Skin</strong></a>
            <a href="{% url 'skin_concern' %}"><strong>Congestion</strong></a>
            <a href="{% url 'skin_concern' %}"><strong>Compromised Skin Barrier</strong></a>
            <a href="{% url 'skin_concern' %}"><strong>Blackheads</strong></a>
            <a href="{% url 'skin_concern' %}"><strong>Enlarged Pores</strong></a>
            <a href="{% url 'skin_concern' %}"><strong>Oil Control</strong></a>
            <a href="{% url 'skin_concern' %}"><strong>Sensitive / Irritated</strong></a>
            <a href="{% url 'skin_concern' %}"><strong>Radiance / Dullness</strong></a>
            <a href="{% url 'skin_concern' %}"><strong>Dryness</strong></a>
        </div>
    </div>
</div>


